// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import the Pygments CSS
@import "syntax.css";

.highlight {
    margin-bottom: 1.25em;
}
