<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" ><!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>mySociety Developer Information - {{ page.title }}</title>

  
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">
  
  <script src="{{ site.baseurl }}assets/js/vendor/custom.modernizr.js"></script>

</head>
<body>

<div class="contain-to-grid">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="{{ site.baseurl }}">mySociety Developer Information</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="{{ site.baseurl }}coding-standards.html">Coding Standards</a></li>
      <li class="divider"></li>
    </ul>

  </section>
</nav>
</div>