<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" ><!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>mySociety Developer Information - {{ page.title }}</title>


    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">

    <script src="{{ site.baseurl }}assets/js/vendor/custom.modernizr.js"></script>

</head>
<body>

<div class="row">
    <div class="large-12 columns">

    <h1><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}assets/img/logo_dev.png" style="max-height:40px" data-interchange="[{{ site.baseurl }}assets/img/logo_dev@2x.png, (retina)]" alt="mySociety Developer Information"></a></h1>

    <ul class="inline-list">
        <li{% if (page.title == 'Coding Standards') %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}coding-standards.html">Coding Standards</a>
        </li>
        <li{% if (page.title == 'CSS Guidelines') %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}css-guidelines.html">CSS Guidelines</a>
        </li>
        <li{% if (page.title == 'Installation Standards (Draft)') %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}installation-standards.html">Installation Standards (Draft)</a>
        </li>
        <li{% if (page.title == 'Internationalization') %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}internationalization.html">Internationalization</a>
        </li>
    </ul>

    </div>
</div>
